if ! has nix_direnv_version || ! nix_direnv_version 2.0.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.0.0/direnvrc" "sha256-gMHKKyEOq/T0XmHKgz+pN+fUQC/1EKPAuOtYM95lLnU="
fi
use flake
