if ! has nix_direnv_version || ! nix_direnv_version 1.6.1; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.6.1/direnvrc" "sha256-aFwy76WtzXD7SVXWetpg+welXMZI/VcEUPQ2WUMXYSY="
fi
use flake
