# shellcheck shell=bash
strict_env
source ./direnvrc

watch_file direnvrc
# shellcheck disable=SC2046
watch_file $(find . -name "*.nix")

# This is not in shell.nix because accessing the working path requires impure eval
export DIRENVRC="$PWD/direnvrc"

use flake
