name: "Test"
on:
  pull_request:
  push:
    branches:
      - main
      - staging
      - trying
jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        # FIXME macos garbage currently collect also nix-shell that runs the test
        #os: [ ubuntu-latest, macos-latest ]
        nix: [ stable, unstable ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v22
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes
    - run:
        "nix run --accept-flake-config .#test-runner-${{ matrix.nix }}"
