name: "Test"
on:
  pull_request:
  push:

jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        # FIXME macos garbage currently collect also nix-shell that runs the test
        #os: [ ubuntu-latest, macos-latest ]
        nix-install-url:
          - https://nixos.org/nix/install
          - https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210126_f15f0b8/install
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
      with:
        install_url: ${{ matrix.nix-install-url }}
        nix_path: nixpkgs=channel:nixpkgs-unstable
        extra_nix_config: |
          keep-outputs = true
          keep-derivations = true
          experimental-features = nix-command flakes
    - run:
        nix-shell -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixpkgs-unstable.tar.gz ci.nix --run 'true'
