name: "Test"
on:
  pull_request:
  push:

jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        # FIXME macos garbage currently collect also nix-shell that runs the test
        #os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        install_url: https://releases.nixos.org/nix/nix-2.13.3/install
        nix_path: nixpkgs=channel:nixpkgs-unstable
        extra_nix_config: |
          keep-outputs = true
          keep-derivations = true
          experimental-features = nix-command flakes
    - run:
        "nix run .#test-runner"
